In [13]:
pip install pandas

Requirement already satisfied: pandas in c:\python\python310\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\python\python310\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Python\Python310\python.exe -m pip install --upgrade pip

In [10]:
import numpy as np

In [14]:
import pandas as pd

In [15]:
credit=pd.read_csv('tmdb_5000_credits.csv')
movies=pd.read_csv('tmdb_5000_movies.csv')

movies.head()

In [16]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [17]:
movies=movies.merge(credit,on='title')

In [19]:
movies.shape

(4809, 23)

In [12]:
#returns the shape

In [13]:
#removing unnecessary columns
#genres,id, keyword,title,overview,caste, crew are the things we surely need in our dataset

In [20]:
movies=movies[['movie_id','genres','keywords','cast','crew','title','overview']]

In [21]:
movies.head()

,movie_id,genres,keywords,cast,crew,title,overview
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre,A cryptic message from Bond’s past sends him o...
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter,"John Carter is a war-weary, former military ca..."

In [22]:
movies.dropna(inplace=True)

In [23]:
movies.isnull().sum()

movie_id    0
genres      0
keywords    0
cast        0
crew        0
title       0
overview    0
dtype: int64

In [24]:
import ast
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [25]:
movies['genres']=movies['genres'].apply(convert)

In [26]:
movies.head()

,movie_id,genres,keywords,cast,crew,title,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre,A cryptic message from Bond’s past sends him o...
3,49026,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,"[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter,"John Carter is a war-weary, former military ca..."

In [27]:
movies['keywords']=movies['keywords'].apply(convert)

In [28]:
movies.head()

,movie_id,genres,keywords,cast,crew,title,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre,A cryptic message from Bond’s past sends him o...
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter,"John Carter is a war-weary, former military ca..."

In [29]:
def convert3(obj):
    L=[]
    count=0
    for i in ast.literal_eval(obj):
        if(count== 3):
            break
        else:
            L.append(i['name'])
    return L

In [30]:
movies['cast']=movies['cast'].apply(convert3)

In [31]:
movies.head()

,movie_id,genres,keywords,cast,crew,title,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre,A cryptic message from Bond’s past sends him o...
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter,"John Carter is a war-weary, former military ca..."

In [32]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if(i['job']== 'Director'):
            L.append(i['name'])
    return L

In [33]:
movies['crew']=movies['crew'].apply(fetch_director)

In [34]:
movies.head()

,movie_id,genres,keywords,cast,crew,title,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],Spectre,A cryptic message from Bond’s past sends him o...
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],John Carter,"John Carter is a war-weary, former military ca..."

In [35]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [36]:
movies.head()

,movie_id,genres,keywords,cast,crew,title,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [37]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [38]:
movies['tags']=movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [39]:
movies.head()

,movie_id,genres,keywords,cast,crew,title,overview,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction, basedonnov..."

In [40]:
dataset=movies[['movie_id','title','tags']]
dataset.head()

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [41]:
dataset['tags']=dataset['tags'].apply(lambda x:" ".join(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_25884\3575940288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['tags']=dataset['tags'].apply(lambda x:" ".join(x))

In [42]:
dataset.head()

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [43]:
dataset['tags']=dataset['tags'].apply(lambda x:x.lower())

C:\Users\HP\AppData\Local\Temp\ipykernel_25884\3256559651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['tags']=dataset['tags'].apply(lambda x:x.lower())

In [45]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.4.2-cp310-cp310-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
                                              0.1/10.6 MB 3.2 MB/s eta 0:00:04
     -                                        0.3/10.6 MB 5.0 MB/s eta 0:00:03
     ---                                      1.0/10.6 MB 7.9 MB/s eta 0:00:02
     -----                                    1.5/10.6 MB 8.5 MB/s eta 0:00:02
     --------                                 2.2/10.6 MB 10.1 MB/s eta 0:00:01
     ------------                             3.2/10.6 MB 11.4 MB/s eta 0:00:01
     ---------------                          4.2/10.6 MB 13.3 MB/s eta 0:00:01
     ------------------                       4.8/10.6 MB 12.8 MB/s eta 0:00:01
     --------------------                     5.5/10.6 MB 13.5 MB/s eta 0:00:01
     ----------------------                   6.0/10.6 MB 12.8 MB/s eta 0:00:01
     ------------------------                 6.6/10.6 MB 13.1 MB/s eta 0:00:01
     ----------------------------             7.6/10.6 MB 13.4 MB/s eta 0:00:01
     -----------------------------            7.9/10.6 MB 13.6 MB/s eta 0:00:01
     ---------------------------------        8.8/10.6 MB 13.4 MB/s eta 0:00:01
     ------------------------------------     9.5/10.6 MB 13.9 MB/s eta 0:00:01
     -------------------------------------   10.1/10.6 MB 13.8 MB/s eta 0:00:01
     --------------------------------------  10.6/10.6 MB 15.2 MB/s eta 0:00:01
     --------------------------------------- 10.6/10.6 MB 14.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.19.5 in c:\python\python310\lib\site-packages (from scikit-learn) (1.23.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.13.0-cp310-cp310-win_amd64.whl (46.2 MB)
                                              0.0/46.2 MB ? eta -:--:--
                                              1.1/46.2 MB 22.2 MB/s eta 0:00:03
     --                                       2.4/46.2 MB 30.1 MB/s eta 0:00:02
     --                                       3.1/46.2 MB 24.7 MB/s eta 0:00:02
     ---                                      3.7/46.2 MB 19.7 MB/s eta 0:00:03
     ---                                      4.2/46.2 MB 17.9 MB/s eta 0:00:03
     ----                                     4.9/46.2 MB 17.4 MB/s eta 0:00:03
     ----                                     5.5/46.2 MB 16.8 MB/s eta 0:00:03
     -----                                    6.1/46.2 MB 16.3 MB/s eta 0:00:03
     -----                                    6.7/46.2 MB 15.9 MB/s eta 0:00:03
     ------                                   7.2/46.2 MB 15.3 MB/s eta 0:00:03
     ------                                   7.4/46.2 MB 14.3 MB/s eta 0:00:03
     -------                                  8.6/46.2 MB 14.8 MB/s eta 0:00:03
     -------                                  9.2/46.2 MB 15.0 MB/s eta 0:00:03
     --------                                 9.8/46.2 MB 14.6 MB/s eta 0:00:03
     --------                                 9.9/46.2 MB 14.7 MB/s eta 0:00:03
     --------                                 9.9/46.2 MB 14.7 MB/s eta 0:00:03
     --------                                10.6/46.2 MB 12.8 MB/s eta 0:00:03
     ---------                               11.1/46.2 MB 12.8 MB/s eta 0:00:03
     ----------                              12.8/46.2 MB 12.6 MB/s eta 0:00:03
     -----------                             13.4/46.2 MB 12.8 MB/s eta 0:00:03
     -----------                             14.0/46.2 MB 13.1 MB/s eta 0:00:03
     ------------                            14.7/46.2 MB 13.4 MB/s eta 0:00:03
     ------------                            15.3/46.2 MB 13.1 MB/s eta 0:00:03
     -------------                           15.9/46.2 MB 13.1 MB/s eta 0:00:03
     -------------                           16.5/46.2 MB 13.1 MB/s eta 0:00:03
     --------------                          17.0/46.2 MB 13.1 MB/s eta 0:00:03
     --------------                          17.7/46.2 MB 13.6 MB/s eta 0:00:03
     ---------------                         18.4/46.2 MB 13.1 MB/s eta 0:00:03
     ---------------                         18.9/46.2 MB 12.9 MB/s eta 0:00:03
     ----------------                        19.3/46.2 MB 12.8 MB/s eta 0:00:03
     -----------------                       20.2/46.2 MB 14.9 MB/s eta 0:00:02
     -----------------                       20.6/46.2 MB 14.6 MB/s eta 0:00:02
     ------------------                      21.4/46.2 MB 14.6 MB/s eta 0:00:02
     ------------------                      22.0/46.2 MB 13.9 MB/s eta 0:00:02
     -------------------                     22.6/46.2 MB 13.1 MB/s eta 0:00:02
     -------------------                     23.1/46.2 MB 12.8 MB/s eta 0:00:02
     --------------------                    23.8/46.2 MB 12.9 MB/s eta 0:00:02
     --------------------                    24.5/46.2 MB 12.8 MB/s eta 0:00:02
     ---------------------                   25.1/46.2 MB 12.8 MB/s eta 0:00:02
     ---------------------                   25.7/46.2 MB 12.8 MB/s eta 0:00:02
     ----------------------                  26.3/46.2 MB 13.1 MB/s eta 0:00:02
     ----------------------                  26.9/46.2 MB 13.1 MB/s eta 0:00:02
     -----------------------                 27.5/46.2 MB 13.1 MB/s eta 0:00:02
     -----------------------                 28.1/46.2 MB 12.8 MB/s eta 0:00:02
     ------------------------                28.7/46.2 MB 12.8 MB/s eta 0:00:02
     ------------------------                29.3/46.2 MB 12.8 MB/s eta 0:00:02
     -------------------------               30.0/46.2 MB 12.8 MB/s eta 0:00:02
     -------------------------               30.6/46.2 MB 12.6 MB/s eta 0:00:02
     --------------------------              31.2/46.2 MB 12.8 MB/s eta 0:00:02
     --------------------------              31.8/46.2 MB 12.9 MB/s eta 0:00:02
     ---------------------------             32.4/46.2 MB 12.8 MB/s eta 0:00:02
     ---------------------------             33.0/46.2 MB 12.8 MB/s eta 0:00:02
     ----------------------------            33.6/46.2 MB 13.4 MB/s eta 0:00:01
     ----------------------------            34.1/46.2 MB 13.1 MB/s eta 0:00:01
     -----------------------------           34.8/46.2 MB 13.1 MB/s eta 0:00:01
     -----------------------------           35.4/46.2 MB 13.1 MB/s eta 0:00:01
     ------------------------------          36.1/46.2 MB 13.1 MB/s eta 0:00:01
     ------------------------------          36.6/46.2 MB 13.1 MB/s eta 0:00:01
     -------------------------------         37.3/46.2 MB 12.8 MB/s eta 0:00:01
     -------------------------------         37.8/46.2 MB 12.8 MB/s eta 0:00:01
     --------------------------------        38.5/46.2 MB 12.8 MB/s eta 0:00:01
     ---------------------------------       39.1/46.2 MB 13.4 MB/s eta 0:00:01
     ---------------------------------       39.7/46.2 MB 13.4 MB/s eta 0:00:01
     ----------------------------------      40.4/46.2 MB 13.4 MB/s eta 0:00:01
     ----------------------------------      40.9/46.2 MB 13.1 MB/s eta 0:00:01
     -----------------------------------     41.5/46.2 MB 13.1 MB/s eta 0:00:01
     -----------------------------------     42.1/46.2 MB 12.8 MB/s eta 0:00:01
     ------------------------------------    42.8/46.2 MB 12.8 MB/s eta 0:00:01
     ------------------------------------    43.4/46.2 MB 13.4 MB/s eta 0:00:01
     -------------------------------------   44.0/46.2 MB 12.8 MB/s eta 0:00:01
     -------------------------------------   44.6/46.2 MB 12.6 MB/s eta 0:00:01
     --------------------------------------  45.2/46.2 MB 12.8 MB/s eta 0:00:01
     --------------------------------------  45.9/46.2 MB 13.1 MB/s eta 0:00:01
     --------------------------------------  46.2/46.2 MB 12.6 MB/s eta 0:00:01
     --------------------------------------  46.2/46.2 MB 12.6 MB/s eta 0:00:01
     --------------------------------------  46.2/46.2 MB 12.6 MB/s eta 0:00:01
     ---------------------------------------- 46.2/46.2 MB 9.9 MB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
                                              0.0/301.8 kB ? eta -:--:--
     ------------------------------------- 301.8/301.8 kB 18.2 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.4.2 scipy-1.13.0 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Python\Python310\python.exe -m pip install --upgrade pip

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [47]:
vectors=cv.fit_transform(dataset['tags']).toarray()

In [40]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [48]:
pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
                                              0.0/1.5 MB ? eta -:--:--
     ----                                     0.2/1.5 MB 3.5 MB/s eta 0:00:01
     ---------------                          0.6/1.5 MB 7.2 MB/s eta 0:00:01
     -------------------------                1.0/1.5 MB 7.7 MB/s eta 0:00:01
     ---------------------------------------  1.5/1.5 MB 8.7 MB/s eta 0:00:01
     ---------------------------------------- 1.5/1.5 MB 8.0 MB/s eta 0:00:00
Collecting click (from nltk)
  Using cached click-8.1.7-py3-none-any.whl (97 kB)
Requirement already satisfied: joblib in c:\python\python310\lib\site-packages (from nltk) (1.4.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.5.15-cp310-cp310-win_amd64.whl (268 kB)
                                              0.0/269.0 kB ? eta -:--:--
     -------------------------------------  266.2/269.0 kB 8.3 MB/s eta 0:00:01
     -------------------------------------- 269.0/269.0 kB 8.3 MB/s eta 0:00:00
Collecting tqdm (from nltk)
  Downloading tqdm-4.66.4-py3-none-any.whl (78 kB)
                                              0.0/78.3 kB ? eta -:--:--
     ---------------------------------------- 78.3/78.3 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\python\python310\lib\site-packages (from click->nltk) (0.4.6)
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.7 nltk-3.8.1 regex-2024.5.15 tqdm-4.66.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Python\Python310\python.exe -m pip install --upgrade pip

In [49]:
import nltk

In [50]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [51]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [45]:
dataset['tags'].apply(stem)

0       action adventur fantasi sciencefict culturecla...
1       adventur fantasi action ocean drugabus exotici...
2       action adventur crime spi basedonnovel secreta...
3       action crime drama thriller dccomic crimefight...
4       action adventur sciencefict basedonnovel mar m...
                              ...
4804    action crime thriller unitedstates–mexicobarri...
4805    comedi romanc edwardburn kerrybishé marshadiet...
4806    comedi drama romanc tvmovi date loveatfirstsig...
4807    danielhenney elizacoup billpaxton alanruck zhu...
4808    documentari obsess camcord crush dreamgirl dre...
Name: tags, Length: 4806, dtype: object

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
similarity=cosine_similarity(vectors)

In [54]:
similarity[0]

array([1.        , 0.08000711, 0.07543143, ..., 0.04956816, 0.        ,
       0.        ])

In [55]:
def recommend(movie):
    movie_index=dataset[dataset['title']==movie].index[0]
    distance=similarity[movie_index]
    movie_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]# this code is actually coveerting tbe list into the tuple havinf first elemtn the index, then it sortd=s it in reverse order , and lambda function inspecifying that the sortinf should be done on the basis of second element only
    for i  in movie_list:
        print(dataset.iloc[i[0]].title)

In [56]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Amidst the Devil's Wings
Mi America
Ajami

In [57]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(2374, 0.2684624220856098),
 (1934, 0.25993762245501817),
 (83, 0.24854790640048),
 (2682, 0.24854790640048),
 (786, 0.24659848095803594)]

In [58]:
dataset.iloc[1216].title

'Autumn in New York'

In [59]:
import pickle

In [54]:
pickle.dump(dataset.to_dict(),open('movie_dict.pkl','wb'))

In [55]:
print(pd.__version__)

2.1.4

In [56]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [57]:
print(pd.__version__)

2.1.4

In [58]:
pickle.dump(similarity,open('similarity.pkl','wb'))